<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIsd0XxwNp8YoS4Li_-xrB3eu0FBZV7zw</string>
	<key>GCM_SENDER_ID</key>
	<string>704398422851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codigocorrecto.mediLearn.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medilearn-5fbd9</string>
	<key>STORAGE_BUCKET</key>
	<string>medilearn-5fbd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704398422851:ios:476f22679a0dd6e6afb5f6</string>
</dict>
</plist>